body {
  margin: 0;
  padding: 0;
  display: flex;
}

.first-section {
  width: 100%;
  background-color: #1f2937;
}

.header {
  display: flex;
  margin: 3px;
}

.logo {
  display: flex;
  margin-right: auto;
  color: #ebeced;
}

.right-links {
  display: flex;
  gap: 10px;
}

li {
  list-style: none;
}

li > a {
  color: #b4b9bf;
  text-decoration: none;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.sub-text {
  font-size: 18px;
  color: #E5E7EB;
}
